<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>FFML</title>
	<!-- Styles -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggler">
			<a class="navbar-brand" href="/">FFML</a>
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/table">Tables</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">About</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>

	<div class="container" style="padding-top: 40px;">
		<%= yield %>
	</div>

	<!-- Bootstrap jQuery Plugins, compiled and minified -->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
