<h1>FFML <small>Tables</small></h1>
<hr>

<table class="table table-bordered">
	<thead class="thead-inverse">
		<tr>
			<th>#</th>
			<th>Sport</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>

		<% 
			jsonData.each_with_index do |node, index|
		%>
			<tr>
				<th scope="row"><%= index + 1 %></th>
				<td><%= node[0] %></td>
				<td><%= node[1] %></td>
			</tr>
		<%
			end 
		%>

	</tbody>
</table>

